<main>
    <section class="title">
        <h1> <mat-icon>emergency</mat-icon> Emergencia N°: {{emergencyService.emergency()?.id}}</h1>
        <h3>{{emergencyService.emergency()?.description}}</h3>

        <div class="severity-status-victims">


            <div class="severity">
                @if (emergencyService.emergency()?.severity == "HIGH") {
                <span class="high"> Alta </span>
                }
                @if (emergencyService.emergency()?.severity == "MEDIUM") {
                <span class="medium"> Media </span>
                }
                @if (emergencyService.emergency()?.severity == "LOW") {
                <span class="low"> Baja </span>
                }
            </div>


            <div class="status">
                @if (emergencyService.emergency()?.status == "PENDING") {
                <span class="pending"> Pendiente </span>
                }
                @if (emergencyService.emergency()?.status == "IN PROGRES") {
                <span class="in-progres"> Atendida </span>
                }
                @if (emergencyService.emergency()?.status == "RESOLVED") {
                <span class="resolved"> Resuelta </span>
                }
                @if (emergencyService.emergency()?.status == "CANCELLED") {
                <span class="canceled"> Cancelada </span>
                }
            </div>

            <div class="victims">
                <mat-icon>local_hospital</mat-icon>
                <span>{{emergencyService.emergency()?.victims}} Victima(s)</span>
            </div>
        </div>
    </section>

    <mat-divider />

    <section class="emergency">
        <app-emergency-info [emergency]="emergencyService.emergency" />
        <app-emergency-state [emergency]="emergencyService.emergency" />
        <app-emergency-comment [emergency]="emergencyService.emergency"  />
    </section>

</main>