<mat-card class="emergency-comments" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Actualizar comentarios de la emergencia:</mat-card-title>
    </mat-card-header>
    <mat-divider />
    <mat-card-content>
        <form [formGroup]="commentForm" (ngSubmit)="updateComment(emergency()!.id)">
            <mat-form-field appearance="outline">
                <mat-label>Agregar comentario:</mat-label>
                <textarea matInput formControlName="comment"></textarea>
            </mat-form-field>
            <button matButton="filled" type="submit"> <mat-icon>message</mat-icon> Actualizar Comentario</button>
        </form>
    </mat-card-content>

</mat-card>