main {
    padding: 4vh;
}

.form-medics {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 3vh;
}

.emergencies{
    margin-top: 3vh;
}

mat-divider{
    margin-bottom: 3vh;
}

.color-red{
    color: red;
}