<mat-card appearance="outlined" class="emergency-details">
    <mat-card-header>
        <mat-card-title>Información de la emergencia</mat-card-title>
    </mat-card-header>
    <mat-divider />
    <mat-card-content>
        <div class="created-updated">
            <div class="created">
                <mat-label>Fecha de creación</mat-label>
                <span>{{emergency()!.creation |dateFormat }}</span>
            </div>
            <div class="updated">
                <mat-label>Fecha de actualización</mat-label>
                <span>{{emergency()!.updateAt | dateFormat}}</span>
            </div>
        </div>
        <div class="medics">
            <mat-label>Doctores responsables:</mat-label>
            <div class="doctors">
                @for (item of emergency()!.medicNames; track $index) {
                <span>{{item}}</span>
                }
            </div>
        </div>
    </mat-card-content>
</mat-card>